# Database Configuration
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=kiwi_portfolio

# Backend Selection (True for MySQL, False for JSON)
USE_SQLALCHEMY=True

# VITE_COGNITO_DOMAIN=https://your-pool.auth.us-east-1.amazoncognito.com
# VITE_COGNITO_CLIENT_ID=your_client_id
# VITE_REDIRECT_URI=http://localhost:5173/callback
# VITE_API_BASE_URL=http://localhost:5000
